@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0 !important;
}

* {
  font-family: 'Nunito', sans-serif;
  color: red;
}

:root {
  --color-primary: #fbbc05;
  --color-secondary: #1C8676;

  --text-size-md: 18px;
  /* --text-size-md: 28px; */
  --text-size-lg: 35px;
  /* --text-size-lg: 48px; */
  --text-size-xl: 64px;
}

.limit {
  padding: 0 15px;
  width: 100%;
  margin: auto;
  align-items: center;
  max-width: 1900px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.color-primary {
  color: var(--color-primary);
}
.color-secondary {
  color: var(--color-secondary);
}
.color-light {
  color: #fff;
}
.color-dark {
  color: #000;
}

.text-size-md {
  font-size: var(--text-size-md);
}
.text-size-lg {
  font-size: var(--text-size-lg);
}
.text-size-xl {
  font-size: var(--text-size-xl);
}

.semi-bold {
  font-weight: 600;
}

.close-modal svg {
  top: 20px;
  right: 20px;
  position: absolute;
  fill: var(--color-tertiary);
  z-index: 9999;
  cursor: pointer;
}

body::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: #f5f5f5;
  cursor: pointer;
}

body::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color:  var(--color-primary);
  cursor: pointer;
}